*checkpoint.py
*.ipynb_checkpoints*
*__pycache__*
*.DS_Store*
*.log
*.sqlite
GT_*.bash
Thumbs.db
.bash_profile
.cache/
.jupyter/
.local/
.ssh/
.sshd-*/
.vscode-server/
.wget-hsts
singularity_open_ports.dat
submit_GPU_newSif.sh
**.h5ad
**.sif
.dotnet
**.pickle
.config/
.ipython/
**__pycache__
.bash_history
